.container{
    width:100wh;
    height:100vh;
    border:1px solid black;
}

.second_container{
    margin-left: 1px;
    display:flex;
    width:99.5%;
    height:80%;
    border:1px solid blue;
}

.sidebaricons{
    display: flex;
    width:20px;
    height:80%;
    flex-direction: column;
    justify-content:space-around;
}

.footer{
    width:99.5%;
    height:19.3%;
    border:1px solid green;
}
